body{
  background: rgb(28, 37, 41);
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  
  margin: auto;
  
}
h1{
  color: rgb(8, 8, 8);
  text-align: center;
}
h2{
  color: rgb(6, 6, 6);
  text-align: center;
}
h3{
  margin-top: 40px;
  color: rgb(7, 7, 7);
  text-align: center;
}
.nam{
  font-size: 18px;
color: rgb(3, 3, 3);
border-right: 2px solid black;
;
}
.msg{
  font-size: 15px;
color: rgb(6, 6, 6);
}
.lik{
  color: rgb(6, 6, 6);
}
.fa-thumbs-up{
  color: green;
}
.fa-thumbs-down{
  color: red;
}
.fa-trash{
  color: rgb(2, 15, 52);
}
form{
  text-align: center;
}
input{
  background-color: rgb(174, 173, 173);
  color: rgb(4, 4, 4);
  text-align: center;
}
button{
  color: rgb(150, 150, 226);
  background-color: rgb(77, 77, 77);
}
ul{
  width: 100%;
    
}
li{
  width: 800px;
  list-style-type: none;
  
}
span{
  
}

img{
  width: 100px;
  height: 100px;
  
}

.heart-red{
  color: red;
}
.heart-black{
  color: black;
}